## Figure 1

This is a raw passthrough of data from RAM Legacy Database, which can be downloaded from [here](https://ourworldindata.org/grapher/biomass-fish-stocks-taxa?tab=table&country=Tuna~Mackerels~Shrimps~Sharks+and+rays~Cod+and+haddock~Perch+and+rockfish).


Data source: RAM Legacy Database; Hilborn,et al. (2020). Effective fisheries management instrumental in improving fish stock status.

## Figure 2

In [9]:
import pandas as pd
import numpy as np

names_df = pd.read_excel("../Data/ASFIS_sp/ASFIS_sp_2023.xlsx")

fish_mapping = {
    'GASTROPODA': 'Bivalves and gastropods',
    'BIVALVIA': 'Bivalves and gastropods',
    'MOLLUSCA MISCELLANEA': 'Bivalves and gastropods',
    'NUDIBRANCHIA': 'Bivalves and gastropods',
    'CEPHALOPODA': 'Cephalopods (e.g., octopus, squid)',
    'GADIFORMES': 'Cod and haddock',
    'REPTANTIA': 'Crabs and lobsters',
    'BRACHYURA': 'Crabs and lobsters',
    'ANOMURA': 'Crabs and lobsters',
    'STOMATOPODA': 'Crabs and lobsters',
    'PLEURONECTIFORMES': 'Flounder',
    'CLUPEIFORMES': 'Forage fish',
    'MYCTOPHIFORMES': 'Forage fish',
    'SCOMBROIDEI': ['Mackerels', 'Tuna'],
    'PERCOIDEI': ['Perch and rockfish', 'Other marine percoids'],
    'SCORPAENIFORMES': ['Perch and rockfish', 'Other scorpaenids'],
    'LAMNIFORMES': 'Sharks and rays',
    'CARCHARHINIFORMES': 'Sharks and rays',
    'SQUALIFORMES': 'Sharks and rays',
    'RHINOPRISTIFORMES': 'Sharks and rays',
    'RAJIFORMES': 'Sharks and rays',
    'MYLIOBATIFORMES': 'Sharks and rays',
    'NATANTIA': 'Shrimps',
    'CYPRINIFORMES': 'Other marine fish',
    'CERATODONTIFORMES': 'Other marine fish',
    'LEPIDOSIRENIFORMES': 'Other marine fish',
    'POLYPTERIFORMES': 'Other marine fish',
    'AMIIFORMES': 'Other marine fish',
    'LEPISOSTEIFORMES': 'Other marine fish',
    'GONORYNCHIFORMES': 'Other marine fish',
    'ESOCIFORMES': 'Other marine fish',
    'OSTEOGLOSSIFORMES': 'Other marine fish',
    'CHARACIFORMES': 'Other marine fish',
    'GYMNOTIFORMES': 'Other marine fish',
    'SILURIFORMES': 'Other marine fish',
    'ANGUILLIFORMES': 'Other marine fish',
    'BELONIFORMES': 'Other marine fish',
    'GASTEROSTEIFORMES': 'Other marine fish',
    'CYPRINODONTIFORMES': 'Other marine fish',
    'PERCOPSIFORMES': 'Other marine fish',
    'ATHERINIFORMES': 'Other marine fish',
    'SYNBRANCHIFORMES': 'Other marine fish',
    'GOBIOIDEI': 'Other marine fish',
    'STROMATEOIDEI': 'Other marine fish',
    'ANABANTOIDEI': 'Other marine fish',
    'OTHER PERCIFORMES': 'Other marine fish',
    'PISCES MISCELLANEA': 'Other marine fish',
    'ACIPENSERIFORMES': 'Other marine fish',
    'SALMONIFORMES': 'Other marine fish',
    'PETROMYZONTIFORMES': 'Other marine fish',
    'MYXINIFORMES': 'Other marine fish',
    'ELOPIFORMES': 'Other marine fish',
    'ALBULIFORMES': 'Other marine fish',
    'AULOPIFORMES': 'Other marine fish',
    'SYNGNATHIFORMES': 'Other marine fish',
    'OPHIDIIFORMES': 'Other marine fish',
    'BERYCIFORMES': 'Other marine fish',
    'MUGILIFORMES': 'Other marine fish',
    'ZOARCOIDEI': 'Other marine fish',
    'TRACHINOIDEI': 'Other marine fish',
    'ACANTHUROIDEI': 'Other marine fish',
    'TETRAODONTIFORMES': 'Other marine fish',
    'GOBIESOCIFORMES': 'Other marine fish',
    'BATRACHOIDIFORMES': 'Other marine fish',
    'LOPHIIFORMES': 'Other marine fish',
    'COELACANTHIFORMES': 'Other marine fish',
    'STOMIIFORMES': 'Other marine fish',
    'SACCOPHARYNGIFORMES': 'Other marine fish',
    'NOTACANTHIFORMES': 'Other marine fish',
    'CETOMIMIFORMES': 'Other marine fish',
    'ZEIFORMES': 'Other marine fish',
    'LAMPRIFORMES': 'Other marine fish',
    'HETERODONTIFORMES': 'Sharks and rays',
    'HEXANCHIFORMES': 'Sharks and rays',
    'ORECTOLOBIFORMES': 'Sharks and rays',
    'ECHINORHINIFORMES': 'Sharks and rays',
    'PRISTIOPHORIFORMES': 'Sharks and rays',
    'SQUATINIFORMES': 'Sharks and rays',
    'TORPEDINIFORMES': 'Sharks and rays',
    'CHIMAERIFORMES': 'Sharks and rays',
    'CRUSTACEA MISCELLANEA': 'Crabs and lobsters',
    'MYSIDA': 'Crabs and lobsters',
    'EUPHAUSIACEA': 'Crabs and lobsters',
    'ANOSTRACA': 'Crabs and lobsters',
    'COPEPODA': 'Crabs and lobsters',
    'THORACICA': 'Crabs and lobsters',
    'TANAIDACEA': 'Crabs and lobsters',
    'ISOPODA': 'Crabs and lobsters',
    'AMPHIPODA': 'Crabs and lobsters',
    'MOLLUSCA MISCELLANEA': 'Bivalves and gastropods',
    'APLACOPHORA': 'Bivalves and gastropods',
    'POLYPLACOPHORA': 'Bivalves and gastropods',
    'SCAPHOPODA': 'Bivalves and gastropods',
    # Marine mammals and other aquatic animals can go into Other Marine Fish or specific categories if desired.
    'MYSTICETI': 'Other marine fish',
    'ODONTOCETI': 'Other marine fish',
    'PINNIPEDIA': 'Other marine fish',
    'FISSIPEDIA': 'Other marine fish',
    'SIRENIA': 'Other marine fish',
    'MAMMALIA MISCELLANEA': 'Other marine fish',
    'ANURA': 'Other marine fish',
    'CAUDATA': 'Other marine fish',
    'TESTUDINES': 'Other marine fish',
    'CROCODILIA': 'Other marine fish',
    'ASCIDIACEA': 'Other marine fish',
    'THALIACEA': 'Other marine fish',
    'APPENDICULARIA': 'Other marine fish',
    'PYCNOGONIDA': 'Other marine fish',
    'XIPHOSURA': 'Other marine fish',
    'ECHINODERMATA': 'Other marine fish',
    'ASTEROIDEA': 'Other marine fish',
    'OPHIUROIDEA': 'Other marine fish',
    'ECHINOIDEA': 'Other marine fish',
    'HOLOTHUROIDEA': 'Other marine fish',
    'CRINOIDEA': 'Other marine fish',
    'XENOPHYOPHORA': 'Other marine fish',
    'BRYOZOA': 'Other marine fish',
    'GRAPTOLITHOIDEA': 'Other marine fish',
    'SCYPHOZOA': 'Other marine fish',
    'CTENOPHORA': 'Other marine fish',
    'ROTIFERA': 'Other marine fish',
    'BRACHIOPODA': 'Other marine fish',
    'ANNELIDA': 'Other marine fish',
    'POLYCHAETA': 'Other marine fish',
    'PRIAPULIDA': 'Other marine fish',
    'SIPUNCULA': 'Other marine fish',
    'INVERTEBRATA AQUATICA MISCELL.': 'Other marine fish',
    'CNIDARIA': 'Other marine fish',
    'HYDROZOA': 'Other marine fish',
    'ANTHOZOA': 'Other marine fish',
    'PORIFERA': 'Other marine fish',
    'CALCAREA': 'Other marine fish',
    'HEXACTINELLIDA': 'Other marine fish',
    'DEMOSPONGIAE': 'Other marine fish',
    'PHAEOPHYCEAE': 'Other marine fish',
    'RHODOPHYTA': 'Other marine fish',
    'CHLOROPHYCEAE': 'Other marine fish',
    'CYANOPHYCEAE': 'Other marine fish',
    'BACILLARIOPHYCEAE': 'Other marine fish',
    'DINOPHYCEAE': 'Other marine fish',
    'ANGIOSPERMAE': 'Other marine fish',
    'PAVLOVOPHYCEAE': 'Other marine fish',
    'EUGLENOIDEA': 'Other marine fish',
    'PLANTAE AQUATICAE MISCELLANEA': 'Other marine fish',
    'SQUAMATA': 'Other marine fish',
    'SPHENISCIFORMES': 'Other marine fish',
    'GAVIIFORMES': 'Other marine fish',
    'PODICIPEDIFORMES': 'Other marine fish',
    'PROCELLARIIFORMES': 'Other marine fish',
    'PELECANIFORMES': 'Other marine fish',
    'CICONIIFORMES': 'Other marine fish',
    'ANSERIFORMES': 'Other marine fish',
    'FALCONIFORMES': 'Other marine fish',
    'CHARADRIIFORMES': 'Other marine fish'
}

# Assuming 'Order' is the column in your DataFrame that contains the fish orders
names_df['Fish group'] = names_df['Order'].map(lambda x: fish_mapping.get(x, 'Other marine fish'))

# Display the DataFrame to see the results
names_df

,ISSCAAP_Group,Taxonomic_Code,Alpha3_Code,Scientific_Name,English_name,French_name,Spanish_name,Arabic_name,Chinese_name,Russian_name,Author,Family,Order,FishStat_Data,Fish group
0,11.0,140001000101,YCL,Cycleptus elongatus,Blue sucker,NaN,NaN,NaN,NaN,NaN,(Lesueur 1817),CATOSTOMIDAE,CYPRINIFORMES,NO,Other marine fish
1,11.0,140001000201,DEU,Deltistes luxatus,Lost River sucker,NaN,NaN,NaN,NaN,NaN,(Cope 1879),CATOSTOMIDAE,CYPRINIFORMES,NO,Other marine fish
2,11.0,140001000401,ATC,Catostomus catostomus,Longnose sucker,NaN,NaN,NaN,NaN,NaN,(Forster 1773),CATOSTOMIDAE,CYPRINIFORMES,NO,Other marine fish
3,11.0,140001000402,ATO,Catostomus commersoni,White sucker,NaN,NaN,NaN,NaN,NaN,(Lacépède 1803),CATOSTOMIDAE,CYPRINIFORMES,NO,Other marine fish
4,11.0,140001000403,ATS,Catostomus latipinnis,Flannelmouth sucker,NaN,NaN,NaN,NaN,NaN,Baird & Girard 1853,CATOSTOMIDAE,CYPRINIFORMES,NO,Other marine fish
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13610,NaN,568006000205,FBF,Stercorarius longicaudus,Long-tailed skua,Labbe à longue queue,NaN,NaN,NaN,NaN,Vieillot 1819,STERCORARIIDAE,CHARADRIIFORMES,NO,Other marine fish
13611,NaN,568006000206,FSL,Stercorarius pomarinus,Pomarine skua,Labbe pomarin,NaN,NaN,NaN,NaN,(Temminck 1815),STERCORARIIDAE,CHARADRIIFORMES,NO,Other marine fish
13612,NaN,5680060002XX,BXU,Stercorarius spp,Jaegers nei,NaN,NaN,NaN,NaN,NaN,NaN,STERCORARIIDAE,CHARADRIIFORMES,NO,Other marine fish
13613,NaN,5680060XXXXX,SKZ,Stercorariidae,NaN,NaN,NaN,NaN,NaN,NaN,Brisson 1760,STERCORARIIDAE,CHARADRIIFORMES,NO,Other marine fish
13614,NaN,568007000101,SWS,Chionis alba,Snowy sheathbill,NaN,NaN,NaN,NaN,NaN,(Gmelin 1789),CHIONIDAE,CHARADRIIFORMES,NO,Other marine fish

In [11]:
production = pd.read_csv("../Data/production_source.csv")
production = production.dropna(subset="ASFIS species (Name)").query("`Unit (Name)` == 'Tonnes - live weight'")
production = production.merge(names_df, left_on="ASFIS species (Name)", right_on="English_name",how='inner')

# Convert the 'Fish group' column from strings to lists where applicable
production['Fish group'] = production['Fish group'].apply(lambda x: eval(x) if isinstance(x, str) and x.startswith('[') else x)

# Melt the dataframe to have one row per year per species, which makes it easier to group by year and fish group
years_columns = production.columns[production.columns.str.startswith('[') & production.columns.str.endswith(']')]

# Reshape the dataframe
df_melted = production.melt(id_vars=['Fish group', 'Detailed production source (Name)'], value_vars=years_columns, var_name='Year', value_name='Biomass')

# Remove square brackets from the year column to clean it
df_melted['Year'] = df_melted['Year'].str.replace('[', '').str.replace(']', '')

# Handle cases where Fish group is a list
df_melted = df_melted.explode('Fish group')
df_melted['Detailed production source (Name)'] = df_melted['Detailed production source (Name)'].replace(r'^Aquaculture.*', 'Aquaculture Production', regex=True)

# Group by Fish group, Year, and Detailed production source, then sum the biomass
total_biomass = df_melted.groupby(['Fish group', 'Year', 'Detailed production source (Name)'])['Biomass'].sum().reset_index()

total_biomass.to_csv("../Data/harvest_wisely_2.csv")

total_biomass

,Fish group,Year,Detailed production source (Name),Biomass
0,Bivalves and gastropods,1950,Aquaculture Production,281013.00
1,Bivalves and gastropods,1950,Capture production,857991.00
2,Bivalves and gastropods,1951,Aquaculture Production,348547.00
3,Bivalves and gastropods,1951,Capture production,885407.00
4,Bivalves and gastropods,1952,Aquaculture Production,405782.00
...,...,...,...,...
1966,Tuna,2020,Capture production,13348855.51
1967,Tuna,2021,Aquaculture Production,61897.37
1968,Tuna,2021,Capture production,13895728.15
1969,Tuna,2022,Aquaculture Production,72473.26
1970,Tuna,2022,Capture production,13891380.38

## Figure 3

In [3]:
# Load the RAM Legacy Database timeseries data
df = pd.read_excel("../Data/RAMLDB v4.65 (assessment data only).xlsx", sheet_name="timeseries.1")

# Load the RAM Legacy Database stock data
region_df = pd.read_excel("../Data/RAMLDB v4.65 (assessment data only).xlsx", sheet_name="stock")

# Join the two pandas dataframes together
df = df.merge(region_df[['stockid','region']],on='stockid')

# Filter the data based on the 'tsid' to the Maximum Sustainable Yield variable and non-null 'tsvalue'
df = df.query("tsid == 'BdivBmsypref-dimensionless' & ~tsvalue.isna()")

# Get the newest value of 'tsvalue' for each 'stockid' based on the 'year'
latest_values = df.loc[df.groupby('stockid')['tsyear'].idxmax()]

# Display the result
latest_values

,assessid,stockid,stocklong,tsid,tsyear,tsvalue,region
373456,NEFSC-ACADREDGOMGB-1912-2023-SISIMP2024,ACADREDGOMGB,Acadian redfish Gulf of Maine / Georges Bank,BdivBmsypref-dimensionless,2023,1.619790,US East Coast
308749,INIDEP-ACMACKSARG-1989-2020-PARMA,ACMACKSARG,Argentine chub mackerel Southern Argentina,BdivBmsypref-dimensionless,2019,1.797839,South America
316943,IOTC-ALBAIO-1950-2020-SMITH,ALBAIO,Albacore tuna Indian Ocean,BdivBmsypref-dimensionless,2017,1.280000,Indian Ocean
266342,ICCAT-ALBAMED-1950-2020-LAWSON,ALBAMED,Albacore tuna Mediterranean Sea,BdivBmsypref-dimensionless,2019,0.570000,Mediterranean-Black Sea
269304,ICCAT-ALBANATL-1930-2016-PONS,ALBANATL,Albacore tuna Northern Atlantic,BdivBmsypref-dimensionless,2014,1.340000,Atlantic Ocean
...,...,...,...,...,...,...,...
264915,IATTC-YFINEPAC-1918-2019-PONS,YFINEPAC,Yellowfin tuna Eastern Pacific,BdivBmsypref-dimensionless,2019,0.760000,Pacific Ocean
305316,IFOPCH-YNOSESKACSCH-1978-2014-PARMA,YNOSESKACSCH,Yellownose skate Central-Southern Chile,BdivBmsypref-dimensionless,2014,0.567674,South America
305748,IFOPCH-YNOSESKASCH-1978-2014-PARMA,YNOSESKASCH,Yellownose skate Southern Chile,BdivBmsypref-dimensionless,2014,0.102487,South America
81649,AFSC-YSOLEBSAI-1953-2021-SISIMP2022,YSOLEBSAI,Yellowfin sole Bering Sea and Aleutian Islands,BdivBmsypref-dimensionless,2021,1.899027,US Alaska
522224,NWFSC-YTROCKNPCOAST-1889-2017-SISIMP2021,YTROCKNPCOAST,Yellowtail rockfish Northern Pacific Coast,BdivBmsypref-dimensionless,2017,1.883333,US West Coast

In [4]:
# Define classification function for surplus, sustainable, and overfished 
def classify_msy(value):
    if value > 1.2:
        return "surplus"
    elif 0.8 <= value <= 1.2:
        return "sustainable"
    else:
        return "overfished"

# Define the mapping from regions to FAO zone numbers
region_to_fao_zone = {
    'US East Coast': '21',
    'South America': '41, 87',
    'Indian Ocean': '51, 57',
    'Mediterranean-Black Sea': '37',
    'Atlantic Ocean': '21, 27, 31, 34, 41, 47',
    'Pacific Ocean': '67, 71, 77, 81, 87',
    'US Alaska': '67',
    'European Union': '27, 37',
    'Japan': '61',
    'US West Coast': '67, 77',
    'Canada East Coast': '21',
    'Other': np.nan,
    'New Zealand': '81',
    'Australia': '57, 71, 81',
    'US Southeast and Gulf': '31',
    'Canada West Coast': '67',
    'Europe non EU': '27',
    'Southern Africa': '47, 51',
    'US Hawaii': '77'
}

# Apply classification to 'tsvalue'
latest_values['classification'] = latest_values['tsvalue'].apply(classify_msy)

# Apply the mapping to create a new column in the DataFrame
latest_values['FAO_zone'] = latest_values['region'].map(region_to_fao_zone)
latest_values

,assessid,stockid,stocklong,tsid,tsyear,tsvalue,region,classification,FAO_zone
373456,NEFSC-ACADREDGOMGB-1912-2023-SISIMP2024,ACADREDGOMGB,Acadian redfish Gulf of Maine / Georges Bank,BdivBmsypref-dimensionless,2023,1.619790,US East Coast,surplus,21
308749,INIDEP-ACMACKSARG-1989-2020-PARMA,ACMACKSARG,Argentine chub mackerel Southern Argentina,BdivBmsypref-dimensionless,2019,1.797839,South America,surplus,"41, 87"
316943,IOTC-ALBAIO-1950-2020-SMITH,ALBAIO,Albacore tuna Indian Ocean,BdivBmsypref-dimensionless,2017,1.280000,Indian Ocean,surplus,"51, 57"
266342,ICCAT-ALBAMED-1950-2020-LAWSON,ALBAMED,Albacore tuna Mediterranean Sea,BdivBmsypref-dimensionless,2019,0.570000,Mediterranean-Black Sea,overfished,37
269304,ICCAT-ALBANATL-1930-2016-PONS,ALBANATL,Albacore tuna Northern Atlantic,BdivBmsypref-dimensionless,2014,1.340000,Atlantic Ocean,surplus,"21, 27, 31, 34, 41, 47"
...,...,...,...,...,...,...,...,...,...
264915,IATTC-YFINEPAC-1918-2019-PONS,YFINEPAC,Yellowfin tuna Eastern Pacific,BdivBmsypref-dimensionless,2019,0.760000,Pacific Ocean,overfished,"67, 71, 77, 81, 87"
305316,IFOPCH-YNOSESKACSCH-1978-2014-PARMA,YNOSESKACSCH,Yellownose skate Central-Southern Chile,BdivBmsypref-dimensionless,2014,0.567674,South America,overfished,"41, 87"
305748,IFOPCH-YNOSESKASCH-1978-2014-PARMA,YNOSESKASCH,Yellownose skate Southern Chile,BdivBmsypref-dimensionless,2014,0.102487,South America,overfished,"41, 87"
81649,AFSC-YSOLEBSAI-1953-2021-SISIMP2022,YSOLEBSAI,Yellowfin sole Bering Sea and Aleutian Islands,BdivBmsypref-dimensionless,2021,1.899027,US Alaska,surplus,67
522224,NWFSC-YTROCKNPCOAST-1889-2017-SISIMP2021,YTROCKNPCOAST,Yellowtail rockfish Northern Pacific Coast,BdivBmsypref-dimensionless,2017,1.883333,US West Coast,surplus,"67, 77"

In [5]:
# Split rows with multiple FAO zones into separate rows
data_expanded = latest_values.dropna(subset=['FAO_zone']).assign(
    FAO_zone=latest_values['FAO_zone'].str.split(', ')
).explode('FAO_zone')

# Convert FAO_zone to integers
data_expanded['FAO_zone'] = data_expanded['FAO_zone'].astype(int)

# Group by FAO zone and count the number of rows for each classification
grouped_data = data_expanded.groupby('FAO_zone')['classification'].value_counts().unstack(fill_value=0)

# Rename columns for clarity
grouped_data = grouped_data.rename(columns={
    'surplus': 'count_surplus',
    'overfished': 'count_overfished',
    'sustainable': 'count_sustainable'
})

grouped_data = grouped_data.reset_index()

# Display the grouped data
grouped_data

classification  FAO_zone  count_overfished  count_surplus  count_sustainable
0                     21                41             28                 12
1                     27                18             54                 21
2                     31                21             26                 12
3                     34                 6              8                  4
4                     37                18             36                 15
5                     41                17             20                 13
6                     47                 9             13                  7
7                     51                 6             10                  6
8                     57                 9             15                  7
9                     61                22              9                  6
10                    67                23             91                 15
11                    71                10             24                  7
12                    77                 8             53                  9
13                    81                18             50                 22
14                    87                15             26                 12

In [7]:
import geopandas as gpd

# Read the FAO zones shapefile
zones_df = gpd.read_file("../Data/fao/World_Fao_Zones.shp")

# Merge the grouped data with the FAO zones GeoDataFrame
final_df = zones_df.merge(grouped_data, left_on='zone', right_on='FAO_zone')

# Ensure the final DataFrame is a GeoDataFrame
final_gdf = gpd.GeoDataFrame(final_df, geometry='geometry')

# FAO_zone to Fishing Zone mapping from your second image
fishing_zone_mapping = {
    18: "Arctic Sea",
    21: "Atlantic, Northwest",
    27: "Atlantic, Northeast",
    31: "Atlantic, Western-central",
    34: "Atlantic, Eastern Central",
    37: "Mediterranean and Black Sea",
    41: "Atlantic, Southwest",
    47: "Atlantic, Southeast",
    48: "Atlantic, Antarctic",
    51: "Indian Ocean, Western",
    57: "Indian Ocean, Eastern",
    58: "Indian Ocean, Antarctic And Southern",
    61: "Pacific, Northwest",
    67: "Pacific, Northeast",
    71: "Pacific, Western Central",
    77: "Pacific, Eastern Central",
    81: "Pacific, Southwest",
    87: "Pacific, Southeast",
    88: "Pacific, Antarctic"
}

# Create a new column by mapping FAO_zone to Fishing Zone
final_gdf['Fishing_Zone'] = final_gdf['FAO_zone'].map(fishing_zone_mapping)

# Save the result as a GeoJSON file
final_gdf[['Fishing_Zone','count_overfished','count_surplus','count_sustainable','geometry']].to_file("../Data/harvest_wisely_3.geojson", driver='GeoJSON')
final_gdf

,zone,geometry,FAO_zone,count_overfished,count_surplus,count_sustainable,Fishing_Zone
0,67,"POLYGON ((-175.00000 40.00000, -175.00000 52.0...",67,23,91,15,"Pacific, Northeast"
1,77,"POLYGON ((-175.00000 -25.00000, -175.00000 20....",77,8,53,9,"Pacific, Eastern Central"
2,87,"POLYGON ((-120.00000 -60.00000, -120.00000 -25...",87,15,26,12,"Pacific, Southeast"
3,81,"MULTIPOLYGON (((-180.00000 -60.00000, -180.000...",81,18,50,22,"Pacific, Southwest"
4,41,"POLYGON ((-69.60952 -51.62417, -69.48001 -51.5...",41,17,20,13,"Atlantic, Southwest"
5,34,"POLYGON ((-40.00000 5.00000, -40.00000 36.0000...",34,6,8,4,"Atlantic, Eastern Central"
6,47,"POLYGON ((-20.00000 -50.00000, -20.00000 -6.00...",47,9,13,7,"Atlantic, Southeast"
7,51,"POLYGON ((30.00000 -45.00000, 30.00000 -31.303...",51,6,10,6,"Indian Ocean, Western"
8,57,"POLYGON ((77.00000 0.00000, 77.00000 8.36416, ...",57,9,15,7,"Indian Ocean, Eastern"
9,71,"MULTIPOLYGON (((-180.00000 -25.00000, -180.000...",71,10,24,7,"Pacific, Western Central"
10,61,"MULTIPOLYGON (((-180.00000 20.00000, -180.0000...",61,22,9,6,"Pacific, Northwest"
11,31,"POLYGON ((-97.88826 22.59882, -97.88474 22.632...",31,21,26,12,"Atlantic, Western-central"
12,21,"POLYGON ((-94.82097 59.95562, -94.80043 59.999...",21,41,28,12,"Atlantic, Northwest"
13,27,"POLYGON ((-43.00000 59.00000, -43.00000 60.520...",27,18,54,21,"Atlantic, Northeast"
14,37,"POLYGON ((-5.61361 35.81998, -5.61361 36.00000...",37,18,36,15,Mediterranean and Black Sea